@font-face {
	font-family: "BigShouldersDisplay";
	src: url(https://cdn.betwayafrica.com/Global/fonts/BigShouldersDisplay/BigShouldersDisplay-ExtraBold.woff2) format("woff2"),
		url(https://cdn.betwayafrica.com/Global/fonts/BigShouldersDisplay/BigShouldersDisplay-ExtraBold.woff) format("woff");
	font-display: swap;
}