DATABASE_URL="file:./prisma/betway.db"
PORT=4000
BACKEND_URL=http://localhost:4000
SPORTS_DOMAIN=https://feeds-roa2.betwayafrica.com/br/_apis/sport
AUTH_DOMAIN=https://api.betwayafrica.com
PLAYER_DOMAIN=https://api.betwayafrica.com
BETTING_DOMAIN=https://api.betwayafrica.com
CMS_DOMAIN=https://cms1.betwayafrica.com
API_DOMAIN=https://api.betwayafrica.com/api
APIC_DOMAIN=https://apic.betwayafrica.com/api
CASINO_API_DOMAIN=https://casinoapi.betwayafrica.com/api
CONFIG_DOMAIN=https://config.betwayafrica.com
SIGNALR_DOMAIN=https://signalrapi.betwayafrica.com
PROMO_API_DOMAIN=https://promoapi.betwayafrica.com
